*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.box1{
    height: 1533px;
    background-image: url('img/bg01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 


.box2{
    height: 685px;
    background-image: url('img/bg02.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.box3{
    height: 1326px;
    background-repeat: no-repeat;
    background-size: cover;
}
.box4{
    height: 846px;
    background-image: url('img/bg04.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.box5{
    height: 1397px;
}
.box6{
    height: 1262px;
}


footer{
    height: 298px;
    background-color: #4C7BDB;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrap{
    
    height: 100%;
}

.box1 > .wrap{
    width: 1182px;
}

.box3 > .wrap{
    width: 1289px;
}
.box4 > .wrap{
    width: 1289px;
}

.box6 > .wrap{
    width: 1920px;
}


.size_th{
    width: 1100px;
}
 
.align_ct{
    display: flex;
    justify-content: center;
}

.box1 > .wrap > img{
    margin-top: 341px;
    margin-right: 90px;
} 

.box2 > .wrap > img{
    margin-top: 120px;
    
}

.box3 > .wrap > img{
    margin-top: 111px;
    
}

.box5 > .wrap > img{
    margin-top: 147px;
}

.box3 > .wrap > img{
    margin-top: 147px;
}

.box6 > .wrap > img{
    margin-top: 144px;
}